################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeerShare.NetSync/PeerShare.NetSync/obj
/PeerShare.NetSync/.vs/PeerShare.NetSync/FileContentIndex
/PeerShare.NetSync/.vs/PeerShare.NetSync/v17
/PeerShare.NetSync/PeerShare.NetSync/bin/Debug/net8.0
/PeerShare.NetSync/PeerShare.NetSync.Lib/obj
*.v2
